.wrapper {
  justify-content: center;
}

div img {
  width: 290px;

  border: 15px solid white;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}
.img1 {
  z-index: 4;
}
.img1 img {
  transform: rotate(344deg);
}
.img2 {
  z-index: 3;
}
.img2 img {
  transform: rotate(9deg) translateX(73%) translateY(-27%);
  transition: ease 500ms;
}

.img3 {
}
.img3 img {
  transform: rotate(6deg) translateX(12%) translateY(-41%);
}

@media only screen and (max-width: 600px) {
  .img1 {
    z-index: 4;
  }
  .img1 img {
    transform: none;
  }
  .img2 {
    z-index: 3;
  }
  .img2 img {
    transform: none;
  }

  .img3 {
    transform: none;
  }

  .img3 img {
    transform: none;
  }
}

.scrolltop img {
  width: 100px;
  border: none;
  box-shadow: none;
}

.scrolltop {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.bounce:hover {
  animation: bounce 1s ease infinite;
  animation-timing-function: ease-out, ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(15%);
  }
  75% {
    transform: translateY(0%);
  }
}

.img1 img {
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
}

.bgborder {
  background-color: --backgroundColor;
}

body {
  font-family: sans-serif;
  font-weight: 700;

  background: #d66d75;
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 50%);
}
.marquee {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.marquee .inner.transition {
  transition: transform 6s cubic-bezier(0.23, 0.36, 0.28, 0.83); /* Transisi skew selama 0,5 detik dengan efek halus */
}

.marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
  color: yellow;
  font-size: 2rem;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}
.marquee .inner > * {
  white-space: nowrap;
  padding: 0 1rem;
}

.marquee .inner.skew-down {
  transform: skewX(10deg); /* Skew ke bawah saat scroll ke bawah */
}

.marquee .inner.skew-up {
  transform: skewX(-10deg); /* Skew ke atas saat scroll ke atas */
}

li {
  list-style-type: none;
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  padding-right: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}
ul {
  padding-inline-start: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
