.slideshow img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.contentkosong {
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
  margin-bottom: 15px;
}

.rectangle {
  margin-top: -20px;
  margin-bottom: -22px;
}

.marquee1,
.marquee2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-flex;
  transform: rotate(-4deg);
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
}

.marquee1 .inner1.transition,
.marquee2 .inner2.transition {
  transition: transform 6s cubic-bezier(0.23, 0.36, 0.28, 0.83); /* Transisi skew selama 0,5 detik dengan efek halus */
}

.marquee1 .inner1,
.marquee2 .inner2 {
  position: relative;
  width: 100%;
  display: flex;
  color: yellow;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}
.marquee1 .inner1 > *,
.marquee2 .inner2 > * {
  white-space: nowrap;
  padding: 0 1rem;
}

.marquee1 .inner1.skew-down,
.marquee2 .inner2.skew-down {
  transform: skewX(10deg); /* Skew ke bawah saat scroll ke bawah */
}

.marquee1 .inner1.skew-up,
.marquee2 .inner2.skew-up {
  transform: skewX(-10deg); /* Skew ke atas saat scroll ke atas */
}

.marquee1 li,
.marquee2 li {
  list-style-type: none;
  display: inline-flex;
  color: #444;
  text-align: center;
  font-size: calc(2vw + 25px);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 3px;
  margin-right: 25px;
}
ul {
  padding-inline-start: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

@media screen and (max-width: 768px) {
  .marquee {
    height: 160px; /* Adjust the height value as needed */
  }
  .rectangle {
    margin-top: -40px;
    margin-bottom: -21px;
  }
}
