html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Content stuff */
body {
  position: relative;
  font-family: "Courier";
  font-size: 16px;
  overflow: hidden;
  width: 100%;
  height: 2000px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: #090446;
}

.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.full-screen h1 {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
}
.content {
  width: 76%;
  margin: 0 auto 300px;
}
.content a {
  color: #000;
}
.content span {
  font-weight: bold;
}

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 90%;
  top: 30%;
  width: 450px;
  height: 450px;
  background: #ffc629;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
  filter: blur(100px);
}
@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

.slider-thumb2::before {
  position: absolute;
  content: "";
  left: -10%;
  top: 50%;
  width: 450px;
  height: 450px;
  background: #ff8329;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
  filter: blur(90px);
}

.slideshow {
  position: relative;
  display: block;
  background-color: #000;
  z-index: 5;
}
.slideshow > img {
  width: 100%;
  height: 700px;
  opacity: 0.5;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.jsbody {
  height: 2200px;
  background-color: #fff;
}
