body {
  margin: 0;
  background-color: #fff;
  padding: 0;
}
.box {
  height: 500px;
  width: 500px;

  background-color: lightblue;
  filter: blur(130px);
}

.section {
  min-height: 100vh;
}

.box-2 {
  background-color: lightcoral;
  filter: blur(130px);
}

.fake-section {
  height: 100vh;
  background: lightgray;
}

.slideshow {
  position: relative;
  display: block;
  background-color: #000;
  z-index: 5;
}
.slideshow > img {
  width: 100%;
  height: 700px;
  opacity: 0.5;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.item {
  border-bottom: 1px solid #555;
  cursor: pointer;
}

.item:last-child {
  border-bottom: none;
}

.title {
  width: 100%;
  padding: 1rem;
  font-size: 30px;
}
.item.active .title,
.title:hover {
  color: red;
}

.content {
  height: 0;
  overflow: hidden;
}

.content p {
  margin: 0;
  padding: 1rem;
}
