body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

section {
  position: relative;
  height: 100vh;
  padding: 50px;
}

h1,
h2 {
  margin: 0;
}

section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: inherit;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section.active:before {
  opacity: 1;
}

/* section[data-bgcolor] {
  background-color: var(--section-bgcolor);
  transition: background-color 0.5s ease;
} */

.bgcolor2 {
  background-color: black;
  height: 100%;
}

.slideshow {
  background-color: #000;
}
.slideshow > img {
  width: 100%;
  height: fit-content;
  opacity: 0.5;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.menuNav {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  border-right: 1px solid rgba(238, 238, 238, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 66px;
  align-items: center;
  justify-content: center;
  z-index: 120;
}

.menuNav:hover {
  background-color: #de4152;
}
.menuNav.active {
  background-color: #de4152;
}

.menuMain {
  background: #de4152;
  width: 60%;
  height: 100%;
  left: 66px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  z-index: 110;
}
.menuMain.open {
  opacity: 1;
  visibility: visible;
}

.menuMain.open .main-nav li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.menuMain.open .main-nav li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.menuMain.open .main-nav li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.menuMain.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menuMain.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menuMain.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.menuMain.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.menuMain.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.menuMain.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.menuMain.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.menuMain.open li {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.menuMain ul:hover a {
  opacity: 0.5;
}
.menuMain ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
.menuMain ul a:hover {
  opacity: 1;
}
.menuMain .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menuMain .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuMain .main-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menuMain .main-nav a:first {
  padding-top: 0;
}
.menuMain .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.menuMain .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuMain .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
.menuMain .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
  transform: rotate(90deg);
}

.toggle-menu span {
  background-color: #fff;
  mix-blend-mode: difference;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 13px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 26px;
}

.toggle-menu span:before,
.toggle-menu span:after {
  background-color: #fff;

  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 26px;
}

.toggle-menu span:before {
  top: 7px;
}

.toggle-menu span:after {
  top: -7px;
}

.toggle-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

button.close-menu {
  background: none;
  border: none;
}

.close-menu {
  position: fixed;
  cursor: none;
  display: none;
  right: 0;
  transform: translate(-50%, -50%);
}

.close-menu.active {
  display: block;
  z-index: 100;
  transition: background-color 0.5s ease;
}

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.close:hover::before,
.close:hover::after {
  background: #e73f0cec;
}
.close::before,
.close::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.big {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
